.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2em 0;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 1em;
}

.form > * {
  margin-bottom: 1em;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonWrapper > button {
  padding: 0.5em 1.5em;
  box-sizing: content-box;
  font-size: 19px;
}

.error {
  color: var(--red);
}

.accepted {
  color: var(--green);
}
